.loginContainer {
    width: 1024px; /* pick whatever width you want */
    display: block;
    margin-left: auto;
    margin-right: auto
}

.inner {

    margin-left: 33%;
    margin-right: auto;


}

.container {
    width: 1024px; /* pick whatever width you want */
    display: block;
    margin-left: 15px;
/*    margin-right: auto */
}

.centerText{
text-align: center;
}