<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Connection details -->
        <property name="hibernate.connection.username">USERNAME</property>
        <property name="hibernate.connection.password">PASSWORD</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/DATABASENAME</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="show_sql">true</property>
        <!--  drop the tables every time: create-drop -->
        <!--  use auto or update -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">false</property>

        <property name="hibernate.jdbc.batch_size">20</property>

        <mapping class="QueryStore.Query"/>
        <mapping class="QueryStore.Filter"/>
        <mapping class="QueryStore.Sorting"/>
        <mapping class="QueryStore.TimeStampInterceptor"/>
        <mapping
                class="at.stefanproell.PersistentIdentifierMockup.PersistentIdentifier" />
        <mapping
                class="at.stefanproell.PersistentIdentifierMockup.PersistentIdentifierAlphaNumeric" />
        <mapping
                class="at.stefanproell.PersistentIdentifierMockup.PersistentIdentifierAlpha" />
        <mapping
                class="at.stefanproell.PersistentIdentifierMockup.PersistentIdentifierNumeric" />
        <mapping class="at.stefanproell.PersistentIdentifierMockup.Organization" />
        <mapping class="at.stefanproell.PersistentIdentifierMockup.TimeStampInterceptor"/>

    </session-factory>


</hibernate-configuration>
