<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright [2015] [Stefan Pröll]
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!--
<Context antiJARLocking="true" path="/pid">
    <Resource
            name="jdbc/auth"
            description="Sample authentication"
            type="javax.sql.DataSource"
            auth="Container"
            driverClassName="com.mysql.jdbc.Driver"
            maxActive="10" maxIdle="3"
            maxWait="10000"
            password="query2014"
            url="jdbc:mysql://localhost:3306/querystoreDB"
            validationQuery="values(1)"
            username="querystoreuser"/>

    <Realm className="org.apache.catalina.realm.DataSourceRealm"
           userTable="tomcat_users"
           userNameCol="user_name"
           userCredCol="password"
           userRoleTable="tomcat_groups"
           roleNameCol="group_name"
           localDataSource="true"
           dataSourceName="jdbc/auth"/>
</Context>
-->

<Realm className="org.apache.catalina.realm.JDBCRealm"
       driverName="com.mysql.jdbc.Driver"
       connectionURL="jdbc:mysql://localhost:3306/querystoreDB"
       connectionName="querystoreuser" connectionPassword="query2014"
       userTable="users" userNameCol="user_name" userCredCol="user_pass"
       userRoleTable="user_roles" roleNameCol="role_name"/>


