<?xml version="1.0" encoding="UTF-8"?>
<!--
<Context antiJARLocking="true" path="/pid">
    <Resource
            name="jdbc/auth"
            description="Sample authentication"
            type="javax.sql.DataSource"
            auth="Container"
            driverClassName="com.mysql.jdbc.Driver"
            maxActive="10" maxIdle="3"
            maxWait="10000"
            password="query2014"
            url="jdbc:mysql://localhost:3306/querystoreDB"
            validationQuery="values(1)"
            username="querystoreuser"/>

    <Realm className="org.apache.catalina.realm.DataSourceRealm"
           userTable="tomcat_users"
           userNameCol="user_name"
           userCredCol="password"
           userRoleTable="tomcat_groups"
           roleNameCol="group_name"
           localDataSource="true"
           dataSourceName="jdbc/auth"/>
</Context>
-->

<Realm className="org.apache.catalina.realm.JDBCRealm"
       driverName="com.mysql.jdbc.Driver"
       connectionURL="jdbc:mysql://localhost:3306/querystoreDB"
       connectionName="querystoreuser" connectionPassword="query2014"
       userTable="users" userNameCol="user_name" userCredCol="user_pass"
       userRoleTable="user_roles" roleNameCol="role_name"/>


